<section class="intro">
    <div class="intro__image">
        <picture>
            <source media="(min-width: 1200px)"
                    sizes="100vw"
                    srcset="
                                {{ asset('img/our-car-in-mural-prehistoria.jpg') | imagine_filter('min_width_1920') }} 1920w,
                                {{ asset('img/our-car-in-mural-prehistoria.jpg') | imagine_filter('min_width_1200') }} 1200w,
                                {{ asset('img/our-car-in-mural-prehistoria.jpg') | imagine_filter('min_width_1000') }} 1000w
                    ">
            <!-- img tag for browsers that do not support picture element -->
            <img sizes="100vw"
                 srcset="
                            {{ asset('img/our-car-in-mural-prehistoria_portraid.jpg') | imagine_filter('min_width_900') }} 900w,
                            {{ asset('img/our-car-in-mural-prehistoria_portraid.jpg') | imagine_filter('min_width_800') }} 800w"
                 alt="
                             {% trans %}
                                image.description.mural_car
                             {% endtrans %}
                             ">
        </picture>
    </div>
    <div class="intro__content">
        <div class="intro__content__text">
            <h1 class="title title--white title--big">
                    {% trans %}
                        main.text
                    {% endtrans %}
                </h1>
        </div>
        <div class="intro__content__button">
        <a class="btn btn--primary-gradient"
                href="#" id="trekksoft_6610_2">
{#           target="_self" href="{{ path('booking') }}">#}
            {% trans %}
                button.reservation
            {% endtrans %}
        </a>
    </div>
    </div>

    <div class="tripadvisor_certificate">
        <div class="tripadvisor_certificate__logo">
            <a target="_blank" href="https://www.tripadvisor.es/Attraction_Review-g147271-d13554747-Reviews-Taxi_Drivers_Cuba-Havana_Ciudad_de_la_Habana_Province_Cuba.html">
                {% if app.request.locale == 'es' %}
                    <img class="lazyload blur-up" src="{{ asset('img/tripadvisor/excelencia_es.png') }}" alt="">
                {% else %}
                    <img class="lazyload blur-up" src="{{ asset('img/tripadvisor/excelencia_en.png') }}" alt="">
                {% endif %}
            </a>
        </div>
    </div>
</section>