{% trans_default_domain 'FOSUserBundle' %}


<div class="login-area login-bg" style="background-image: url({{ asset('img/more-destinations.jpg') | imagine_filter('min_width_1920') }})">
    <div class="container">
        <div class="login-box ptb--100">
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <div class="login-form-head">
                <h4>Reset your Password</h4>
                <p>Get a new password for your account</p>

            </div>
            {% if csrf_token is defined and csrf_token  is not empty %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <div class="login-form-body">
                {% if error is defined and error is not empty %}
                    <div class="form-gp text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="form-gp">
                    <label for="username">Username or Email address</label>
                    <input type="text" id="username" name="_username" value="" required="required" autocomplete="username" />
                    <i class="ti-email"></i>
                </div>

                <div class="submit-btn-area">
                    <button type="submit" id="_submit" name="_submit">Submit <i class="ti-arrow-right"></i></button>
                </div>
                <div class="form-footer text-center mt-5">
                    <p class="text-muted">Don't have an account? <a href="{{ path('fos_user_registration_register') }}">Sign up</a></p>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- login area end -->


