<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <meta name="theme-color" content="#378203">

        <title>{% block title %}{% endblock %} | Vinales Taxi 🚕</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/styles.css') }}">
        {% endblock %}

        {% block javascripts_defer %}{% endblock %}

        <meta name="description" content="{% block description %}{% endblock %}">

        <link rel="canonical" href="https://vinales.taxi"/>

    </head>

    <body>

    <header class="header">

        <div class="logo">
            <a href="/">
                <img src="{{ asset('img/logo.png') }}" alt="Vinales in taxi">
            </a>
        </div>

        <div class="menu-icon">
            <div class="menu-icon__middle"></div>
        </div>

        <nav class="nav">
            <ul>
                <li><a href="{{ path('frontend') }}#why_with_us" data-section="#why_with_us">Us</a></li>
                <li><a href="{{ path('frontend') }}#activities" data-section="#activities">Activities</a></li>
                <li><a href="{{ path('frontend') }}#more_places" data-section="#more_places">More places</a></li>
                <li><a href="{{ path('frontend') }}#contact" data-section="#contact">Contact & FAQ</a></li>
                <li class="nav--special"><a href="{{ path('booking') }}">Make a Reservation</a></li>
            </ul>
        </nav>

    </header>

    {% block body %}{% endblock %}

    <footer class="footer">
        <div class="footer__image">
            <picture>
                <source class="lazyload"
                        media="(min-width: 1200px)"
                        sizes="100vw"
                        data-srcset="
                            {{ asset('img/vinales-aereal-view-from-los-jasmines.jpg') | imagine_filter('min_width_1920') }} 1920w,
                            {{ asset('img/vinales-aereal-view-from-los-jasmines.jpg') | imagine_filter('min_width_1200') }} 1200w,
                            {{ asset('img/vinales-aereal-view-from-los-jasmines.jpg') | imagine_filter('min_width_1000') }} 1000w
                        ">

                <img class="lazyload blur-up"
                     sizes="100vw"
                     data-srcset="
                            {{ asset('img/vinales-aereal-view-from-los-jasmines-portraid.jpg') | imagine_filter('min_width_800') }} 800w,
                            {{ asset('img/vinales-aereal-view-from-los-jasmines-portraid.jpg') | imagine_filter('min_width_600') }} 600w"
                     src="{{ asset('img/vinales-aereal-view-from-los-jasmines-portraid.jpg') | imagine_filter('small_thumbnail') }}"
                     alt="Horse riding in vinales, you can make a reservation in advance with us">
            </picture>
        </div>

        <div class="footer__contact">
            <address>
                You can contact us at <a href="mailto:taxidriverscuba@gmail.com">taxidriverscuba@gmail.com</a>
                or call us to phone <a href="tel://+53 5 5864523">+53 5 5864523</a>
            </address>
            
            <div class="social">
                <ul>
                    <li>
                        <a href="https://www.tripadvisor.es/Attraction_Review-g147271-d13554747-Reviews-Taxi_Drivers_Cuba-Havana_Ciudad_de_la_Habana_Province_Cuba.html" target="_blank">
                            <img src="{{ asset('img/icons/tripadvisor.svg') }}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/taxidriverscuba/" target="_blank">
                            <img src="{{ asset('img/icons/facebook.svg') }}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.instagram.com/taxidriverscuba/" target="_blank">
                            <img src="{{ asset('img/icons/instagram.svg') }}" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </footer>


        {% block javascripts %}{% endblock %}
    </body>
</html>
