{% set url = "https://taxidriverscuba.trekksoft.com/en/tours/book/254469" %}
{% set description = "If you want to live an authentic Cuban journey, that is Vinales. With our one day tour, you can feel many experiences, from nature to Cuban people. Discover the Horseback ride adventure, see the tobacco fields, the Indian Cave, Mural of Prehistory, the gazebo of Los Jazmines and have a launch in the restaurants." %}


{% set title = "One day trip from Havana to Vinales an authentic cuban tour 😍 | Vinales Taxi" %}
{% set title_es = "Viaje de un día a Viñales desde La Habana, un auténtico viaje Cubano | Vinales Taxi" %}
{% set title_fr = "Excursion d´une journée de La Havane à Vinales. Un tour cubain authentique. 😍 | Vinales Taxi" %}


<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% block AlternateLang %}
            <link rel="alternate" hreflang="en" href="{{ absolute_url(path(app.request.get('_route'), {'_locale': 'en' } )) }}" />
            <link rel="alternate" hreflang="es" href="{{ absolute_url(path(app.request.get('_route'), {'_locale': 'es' } )) }}" />
            <link rel="alternate" hreflang="fr" href="{{ absolute_url(path(app.request.get('_route'), {'_locale': 'fr' } )) }}" />
            <link rel="alternate" hreflang="x-default" href="{{ absolute_url(path(app.request.get('_route'), {'_locale': 'en' } )) }}" />
        {% endblock %}

        <link rel="manifest" href="/manifest.json">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <meta name="theme-color" content="#378203">

        {# Facebook Tags #}
        <meta property="og:type"               content="article" />
        <meta property="og:title"              content="{% if app.request.locale == 'es' %}
                                                            {{ title_es }}
                                                        {% elseif  app.request.locale == 'fr'%}
                                                            {{ title_fr }}
                                                        {% else %}
                                                            {{ title }}
                                                        {% endif %}" />
        <meta property="og:description"        content="
                                                        {% trans %}
                                                            description
                                                        {% endtrans %}
                                                        " />
        <meta property="og:image"              content="{{ absolute_url(asset('img/our-car-in-mural-prehistoria.jpg')) }}" />

        {# Twitter tags #}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@taxiDriverCuba" />
        <meta name="twitter:creator" content="@taxiDriverCuba" />
        <meta property="og:title" content="{% if app.request.locale == 'es' %}
                                                {{ title_es }}
                                            {% elseif  app.request.locale == 'fr'%}
                                                {{ title_fr }}
                                            {% else %}
                                                {{ title }}
                                            {% endif %}" />
        <meta property="og:description" content="
                                                {% trans %}
                                                    description
                                                {% endtrans %}
                                                " />
        <meta property="og:image" content="{{ absolute_url(asset('img/our-car-in-mural-prehistoria.jpg')) }}" />

        <meta property="keyword" content="
            {% trans %}
                keywords
            {% endtrans %}
        ">
        <meta name="description" content="
                                        {% trans %}
                                            description
                                        {% endtrans %}
                                        " />
        <link rel="canonical" href="https://vinales.taxi"/>
        {#breadcrumbs#}
        <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "BreadcrumbList",
              "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "item": {
                  "@id": "{{ absolute_url(path("frontend")) }}",
                  "name": "Home",
                  "image": "{{ asset("/images/favicon.png") }}"
                }
              }]
            }
        </script>

        {#Logo and customer Service Number#}
        <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "name": "TaxiDriversCuba",
          "url": "https://www.taxidriverscuba.com",
          "logo": "https://www.taxidriverscuba.com/images/logo.png",
          "contactPoint": [
            { "@type": "ContactPoint",
              "telephone": "+53 5 5864523",
              "contactType": "customer service",
              "availableLanguage": [
              "English",
              "Spanish"
               ]
            }
          ],
          "sameAs": [
            "http://www.facebook.com/taxidriverscuba",
            "http://instagram.com/taxidriverscuba",
            "http://plus.google.com/taxidriverscuba"
          ]
        }
        </script>

        {#product and price#}
        <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "Product",
                "name": "Tour to Vinales | Tobacco, Horse ride and more",
            "image": [
            "{{ absolute_url(asset('img/google/ride-horse-in-vinales_1x1.jpg') )}}",
            "{{ absolute_url(asset('img/google/ride-horse-in-vinales_4x3.jpg') )}}",
            "{{ absolute_url(asset('img/google/ride-horse-in-vinales_16x9.jpg') )}}"
            ],
            "description": "Tour to Vinales | Tobacco, Horse ride and more",
            "mpn": "",
            "brand": {
                "@type": "Thing",
                "name": "Taxi Drivers Cuba"
            },
            "offers": {
                "@type": "Offer",
                "priceCurrency": "USD",
                "price": "153.00",
                "priceValidUntil": "2019-12-31",
                "itemCondition": "http://schema.org/UsedCondition",
                "availability": "http://schema.org/InStock",
                "seller": {
                    "@type": "Organization",
                    "name": "Taxi Drivers Cuba"
                    }
                }
        }
        </script>

        <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}" />

        <title>
            {% if app.request.locale == 'es' %}
                {{ title_es }}
            {% elseif  app.request.locale == 'fr'%}
                {{ title_fr }}
            {% else %}
                {{ title }}
            {% endif %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/styles.css') }}">
        {% endblock %}

        {% block javascripts_defer %}{% endblock %}

        {% if app.environment == 'prod' %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136613257-1"></script>

            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-136613257-1');
            </script>

            {% block trackingcodes %}{% endblock %}


            <!-- Matomo -->
            <script>
              var _paq = window._paq || [];
              /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
              _paq.push(['trackPageView']);
              _paq.push(['enableLinkTracking']);
              (function() {
                var u="//habana.tech/matomo/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '2']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
              })();
            </script>
            <!-- End Matomo Code -->

            <!-- Hotjar Tracking Code for https://vinales.taxi -->
            <script>
                (function(h,o,t,j,a,r){
                    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                    h._hjSettings={hjid:1271922,hjsv:6};
                    a=o.getElementsByTagName('head')[0];
                    r=o.createElement('script');r.async=1;
                    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                    a.appendChild(r);
                })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
            </script>

        {% endif %}
        
    </head>

    <body>

    <header class="header">

        <div class="logo">
            <a href="/">
                <img src="{{ asset('img/logo.png') }}" alt="Viñales-Taxi-Cuba-logo">
            </a>
        </div>

        <div class="menu-icon">
            <div class="menu-icon__middle"></div>
        </div>

        <nav class="nav">
            <ul>
                <li><a href="{{ path('frontend') }}#activities" data-section="#activities">
                        {% trans %}
                            button.activities
                        {% endtrans %}
                    </a></li>
                <li><a href="{{ path('frontend') }}#why_with_us" data-section="#why_with_us">
                        {% trans %}
                            button.us
                        {% endtrans %}
                    </a></li>
                <li><a href="{{ path('frontend') }}#more_places" data-section="#more_places">
                        {% trans %}
                            button.other_options
                        {% endtrans %}
                    </a></li>
                <li><a href="{{ path('frontend') }}#contact" data-section="#contact">
                        {% trans %}
                            button.contact
                        {% endtrans %}
                    </a></li>
                <li class="nav--special">
                    {#<a target="_self" href="{{ url }}">#}
                    <a target="_self" href="{{ path('booking') }}">
                        {% trans %}
                            button.reservation
                        {% endtrans %}
                    </a>
                </li>
            </ul>
        </nav>

        {% block languagesSelector %}
        <div class="lang">
            <ul>
                <li>
                    <a href="#">{{ app.request.locale }}</a>
                    <ul class="dropdown">
                        {% if app.request.locale == 'es' %}
                            <li><a href="{{ path(app.request.get('_route'), {'_locale': 'en' } ) }}">EN</a></li>
                            <li><a href="{{ path(app.request.get('_route'), {'_locale': 'fr' } ) }}">FR</a></li>
                        {% elseif app.request.locale == 'fr' %}
                            <li><a href="{{ path(app.request.get('_route'), {'_locale': 'en' } ) }}">EN</a></li>
                            <li><a href="{{ path(app.request.get('_route'), {'_locale': 'es' } ) }}">ES</a></li>
                        {% else %}
                            <li><a href="{{ path(app.request.get('_route'), {'_locale': 'es' } ) }}">ES</a></li>
                            <li><a href="{{ path(app.request.get('_route'), {'_locale': 'fr' } ) }}">FR</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
        {% endblock languagesSelector %}
    </header>

    {% block body %}{% endblock %}

    <footer class="footer">
        <div class="footer__image">
            <picture>
                <source class="lazyload"
                        media="(min-width: 1200px)"
                        sizes="100vw"
                        data-srcset="
                            {{ asset('img/vinales-aereal-view-from-los-jasmines.jpg') | imagine_filter('min_width_1920') }} 1920w,
                            {{ asset('img/vinales-aereal-view-from-los-jasmines.jpg') | imagine_filter('min_width_1200') }} 1200w,
                            {{ asset('img/vinales-aereal-view-from-los-jasmines.jpg') | imagine_filter('min_width_1000') }} 1000w
                        ">

                <img class="lazyload blur-up"
                     sizes="100vw"
                     data-srcset="
                            {{ asset('img/vinales-aereal-view-from-los-jasmines-portraid.jpg') | imagine_filter('min_width_800') }} 800w,
                            {{ asset('img/vinales-aereal-view-from-los-jasmines-portraid.jpg') | imagine_filter('min_width_600') }} 600w"
                     src="{{ asset('img/vinales-aereal-view-from-los-jasmines-portraid.jpg') | imagine_filter('small_thumbnail') }}"
                     alt="Horse riding in vinales, you can make a reservation in advance with us">
            </picture>
        </div>

        <div class="footer__contact">
            <address>
                {% trans %}
                    text.contact_footer_mail
                {% endtrans %}
                <a href="mailto:taxidriverscuba@gmail.com">taxidriverscuba@gmail.com</a>
                {% trans %}
                    text.contact_footer_phone
                {% endtrans %}
                <a href="tel://+5355864523">+53 5 5864523</a>
            </address>
            
            <div class="social">
                <ul>
                    <li>
                        <a href="https://www.tripadvisor.es/Attraction_Review-g147271-d13554747-Reviews-Taxi_Drivers_Cuba-Havana_Ciudad_de_la_Habana_Province_Cuba.html" target="_blank">
                            <img src="{{ asset('img/icons/tripadvisor.svg') }}" alt="tripadvisor icon">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/taxidriverscuba/" target="_blank">
                            <img src="{{ asset('img/icons/facebook.svg') }}" alt="facebook icon">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.instagram.com/taxidriverscuba/" target="_blank">
                            <img src="{{ asset('img/icons/instagram.svg') }}" alt="instagram icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </footer>

        {% block javascripts %}{% endblock %}
        <script>
        // This is the "Offline copy of pages" service worker

        // Add this below content to your HTML page, or add the js file to your page at the very top to register service worker

        // Check compatibility for the browser we're running this in
        if ("serviceWorker" in navigator) {
          if (navigator.serviceWorker.controller) {
            console.log("[PWA Builder] active service worker found, no need to register");
          } else {
            // Register the service worker
            navigator.serviceWorker
              .register("/pwabuilder-sw.js", {
                scope: "./"
              })
              .then(function (reg) {
                console.log("[PWA Builder] Service worker has been registered for scope: " + reg.scope);
              });
          }
        }

        </script>
    </body>
</html>
