{% extends 'frontend/base.html.twig' %}

{% block AlternateLang %}
<link rel="alternate" hreflang="en" href="{{ path(app.request.get('_route'), {'_locale': 'en', 'orderNumber': orderNumber } ) }}" />
<link rel="alternate" hreflang="es" href="{{ path(app.request.get('_route'), {'_locale': 'es', 'orderNumber': orderNumber } ) }}" />
<link rel="alternate" hreflang="fr" href="{{ path(app.request.get('_route'), {'_locale': 'fr', 'orderNumber': orderNumber } ) }}" />
<link rel="alternate" hreflang="x-default" href="{{ path(app.request.get('_route'), {'_locale': 'en', 'orderNumber': orderNumber } ) }}" />
{% endblock %}

{% block javascripts_defer %}
    <script src="{{ asset('scripts/app.js') }}" defer></script>
{% endblock %}

{% block title %}{% trans %}Your booking have been saved{% endtrans %}{% endblock %}


{% block trackingcodes %}
    <!-- Event snippet for Fill the registration form conversion page -->
    <script>
        gtag('event', 'conversion', {
            'send_to': 'AW-760508485/MTCFCLHt_JcBEMXg0eoC',
            'transaction_id': ''
        });
    </script>

{% endblock %}


{#{% block languagesSelector %}#}
    {#<div class="lang">#}
        {#<ul>#}
            {#<li>#}
                {#<a href="#">{{ app.request.locale }}</a>#}
                {#<ul class="dropdown">#}
                    {#{% if app.request.locale == 'es' %}#}
                        {#<li><a href="{{ path(app.request.get('_route'), {'_locale': 'en', 'orderNumber': orderNumber } ) }}">EN</a></li>#}
                        {#<li><a href="{{ path(app.request.get('_route'), {'_locale': 'fr', 'orderNumber': orderNumber } ) }}">FR</a></li>#}
                    {#{% elseif app.request.locale == 'fr' %}#}
                        {#<li><a href="{{ path(app.request.get('_route'), {'_locale': 'en', 'orderNumber': orderNumber } ) }}">EN</a></li>#}
                        {#<li><a href="{{ path(app.request.get('_route'), {'_locale': 'es', 'orderNumber': orderNumber } ) }}">ES</a></li>#}
                    {#{% else %}#}
                        {#<li><a href="{{ path(app.request.get('_route'), {'_locale': 'es', 'orderNumber': orderNumber } ) }}">ES</a></li>#}
                        {#<li><a href="{{ path(app.request.get('_route'), {'_locale': 'fr', 'orderNumber': orderNumber } ) }}">FR</a></li>#}
                    {#{% endif %}#}
                {#</ul>#}
            {#</li>#}
        {#</ul>#}
    {#</div>#}
{#{% endblock languagesSelector %}#}

{% block body %}
    <main class="main">
        <section class="section section--no-margin main__image">
            <picture>
                <source media="(min-width: 1200px)"
                    sizes="100vw"
                    srcset="
                        {{ asset('img/vinales-aereal-view-from-los-jasmines.jpg') | imagine_filter('min_width_1920') }} 1920w,
                        {{ asset('img/vinales-aereal-view-from-los-jasmines.jpg') | imagine_filter('min_width_1200') }} 1200w,
                        {{ asset('img/vinales-aereal-view-from-los-jasmines.jpg') | imagine_filter('min_width_1000') }} 1000w"
                    >
                <!-- img tag for browsers that do not support picture element -->
                <img sizes="100vw"
                    srcset="
                        {{ asset('img/vinales-aereal-view-from-los-jasmines-portraid.jpg') | imagine_filter('min_width_900') }} 900w,
                        {{ asset('img/vinales-aereal-view-from-los-jasmines-portraid.jpg') | imagine_filter('min_width_800') }} 800w"
                     alt="classic-car-taxi-in-cuba-in-vinales">
            </picture>
        </section>

        <section class="section reservation_details">
            <div class="title title--center">
                <h1>
                    {% trans %}
                        title.reservation_processed
                    {% endtrans %}
                </h1>

                {% if not booking.differenceTimeGreaterThan12Hours %}
                <div id="time_alert">
                    <img src="{{ asset('/static/img/icons/alert.svg') }}" alt="">

                    <p class="advise_text">
                        {% trans %}
                            text.advice_time
                        {% endtrans %}
                        <a href="tel://+5355864523">+53 5 5864523</a>.
                    </p>
                </div>
                {% endif %}
                <h3>
                    {% trans %}
                        subtitle.thank
                    {% endtrans %}
                </h3>
            </div>
            <hr>
            <div class="reservation_details__body">
                <ul>
                    <li>

                        {% trans %}
                            text.reservation_made
                        {% endtrans %}
                        <b>{{ booking.clientName }}</b>.
                    </li>

                    <li>
                        {% trans %}
                            text.reservation_pickup_time
                        {% endtrans %}
                        {% if booking.pickupPlace == 'Hotel-House' %}
                            {% trans %}the.hotel.or.house{% endtrans %} <b>Hotel or House</b> at
                        {% elseif booking.pickupPlace == 'Airport' %}
                            {% trans %}the.airport{% endtrans %} <b>Airport</b>
                            {% trans %}looking for the flight with number{% endtrans %}
                        {% else %}
                            {% trans %}the.cruise{% endtrans %} <b>Cruise</b> named
                        {% endif %}
                        <br>
                        <b>
                            {{ booking.pickupDetails }}
                        </b>

                        {% trans %}on{% endtrans %} <b>{{ booking.pickupDate | date('l')  }}</b>,
                        <b> {{ booking.pickupDate | date('F d, Y')  }}</b>
                        {% trans %}at{% endtrans %}
                        <b>{{ booking.pickupTime | date('H:i') }}</b>.
                    </li>

                    <li>

                        {% trans %}
                            text.amount_passenger
                        {% endtrans %}
                        <b>{{ booking.peopleCount }}</b>.
                    </li>

                    <li>
                        {% if booking.price is null %}
                            {% trans %}
                                text.reservation_quota
                            {% endtrans %}
                        {% else %}
                            {% trans %}
                                text.total_cost
                            {% endtrans %}
                            <b>{{ booking.price }}.00 USD</b>.
                            <br>
                            {% trans %}
                                text.pay_driver
                            {% endtrans %}
                        {% endif %}
                    </li>
                </ul>

                <p>
                    {% trans %}
                        text.confirmation_email
                    {% endtrans %}
                </p>
                <p>
                    {% trans %}
                        text.remainder_car_1
                    {% endtrans %}
                    <a href="mailto:taxidriverscuba@gmail.com">taxidriverscuba@gmail.com</a>
                    {% trans %}
                        text.remainder_car_2
                    {% endtrans %}
                    <a href="tel://+5355864523">+53 55864523</a>.
                </p>
            </div>
        </section>
    </main>

{% endblock %}
