{% extends('frontend/base.html.twig') %}

{% block javascripts_defer %}
    <script src="{{ asset('scripts/app.js') }}" defer></script>
    <script src="{{ asset('scripts/Form.js') }}" defer></script>
    <script src="{{ asset('assets/js/intlTelInput.min.js') }}"></script>
    <script>

        function defer(method) {
            // if (window.intlTelInput) {//wait till page is loaded
            if (document.readyState === "complete") {//wait till page is loaded
                console.log("IntTl is now loaded");
                var input = document.querySelector("#{{ form.telephone.vars.id }}");
                window.intlTelInput(input, {
                    hiddenInput: "{{ form.telephone.vars.full_name }}",
                    preferredCountries: ["cu", "us", "gb"],
                    utilsScript: "{{ asset('assets/js/IntlTelInputLib-utils.js') }}" // just for formatting/placeholders etc
                });
            } else {
                console.log("IntTl not yet");
                setTimeout(function() {
                    defer(method);

                }, 50);
            }
        }
        defer();
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('assets/css/intlTelInput.min.css') }}">
<style>
    .iti__flag {background-image: url("{{ asset('img/flags.png') }}");}
    .iti--allow-dropdown{ width: 100%;  }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .iti__flag {background-image: url("{{ asset('img/flags@2x.png') }}");}
    }
</style>
{% endblock stylesheets %}

{% set title = "Reservation Form for One day trip from Havana to Vinales | Vinales Taxi" %}

{% block body %}
<section class="section section--no-margin">
    <picture>
        <source class="lazyload"
                media="(min-width: 1200px)"
                sizes="100vw"
                data-srcset="
                    {{ asset('img/lesther-and-ernesto.jpg') | imagine_filter('min_width_1200') }} 1200w,
                    {{ asset('img/lesther-and-ernesto.jpg') | imagine_filter('min_width_1000') }} 1000w,
                    {{ asset('img/lesther-and-ernesto.jpg') | imagine_filter('min_width_800') }} 800w
                    ">

        <img class="lazyload blur-up"
             sizes="100vw"
             height="50vh"
             data-srcset="
                    {{ asset('img/lesther-and-ernesto_portraid.jpg') | imagine_filter('min_width_800') }} 800w,
                    {{ asset('img/lesther-and-ernesto_portraid.jpg') | imagine_filter('min_width_600') }} 600w"
             src="{{ asset('img/lesther-and-ernesto_portraid.jpg') | imagine_filter('small_thumbnail') }}"
             alt="Horse-Riding-in-Vinales-(Viñales)">

        <noscript>
            <img
                    src="{{ asset('img/lesther-and-ernesto_portraid.jpg')}}"
                    alt="Horse-Riding-in-Vinales-(Viñales)">
        </noscript>
    </picture>
</section>

<section class="section reservation">
    <div class="title title--center">
        <h1>
            {% trans %}
                title.reservation
            {% endtrans %}
            🎫</h1>
    </div>
    <div class="reservation__content">
        {{ form_start(form, {'attr': {'class': 'reservation__content__form'} }) }}
            <div class="reservation__content__form__group">
                <h2>
                    {% trans %}
                        field.pickup_place
                    {% endtrans %}
                </h2>

                <div class="reservation__content__form__group__single place">
                    {{ form_row(form.pickupPlace) }}
                </div>

                <div class="reservation__content__form__group__single">

                    <div class="form__item">
                        
                        <label for="{{ form.pickupDetails.vars.id }}">
                            <span class="hidden" id="span_pickup_place.option_1">{% trans %}span_pickup_place.option_1{% endtrans %}</span>
                            <span class="hidden" id="span_pickup_place.option_2">{% trans %}span_pickup_place.option_2{% endtrans %}</span>
                            <span class="hidden" id="span_pickup_place.option_3">{% trans %}span_pickup_place.option_3{% endtrans %}</span>
                        </label>
                        
                        {{ form_widget(form.pickupDetails) }}

                    </div>
                </div>


            </div>

            <div class="reservation__content__form__division"></div>

            <div id="booking_time_section" class="reservation__content__form__group">
                <div class="alert_icon">
                    <img src="{{ asset('/static/img/icons/alert.svg') }}" alt="">
                </div>
                <h2>
                    {% trans %}
                        field.pickup_date
                    {% endtrans %}
                </h2>

                <div class="reservation__content__form__group__single time">

                    <div class="form__item">
                        {{ form_row(form.pickupDate) }}
                    </div>

                    <div class="form__item">
                        <p>
                            <b>
                                {% trans %}
                                   text.advise_time
                                {% endtrans %}
                            </b>
                        </p>
                        {{ form_row(form.pickupTime) }}
                    </div>

                    <p class="advise_text">
                        {% trans %}
                            text.advice_time
                        {% endtrans %}
                        <a href="tel://+5355864523">+53 5 5864523</a>.
                    </p>
                </div>
            </div>

            <div class="reservation__content__form__division"></div>

            <div class="reservation__content__form__group">
                <h2>
                    {% trans %}
                        field.number_passengers
                    {% endtrans %}
                </h2>

                <div class="reservation__content__form__group__single passenger_price">
                    <div class="form__item">
                        {{ form_row(form.peopleCount) }}
                    </div>

                    <div class="form__item">
                        <span id="priceText" class="price_text price_text--is-visible">
                            <b>
                                {% trans %}
                                    label.price
                                {% endtrans %}
                            </b>
                            <span id="priceNumber">250</span> USD</span>
                        <span id="priceTextNegotiation" class="price_text_negotiation">
                            <b>
                                {% trans %}
                                    label.offer
                                {% endtrans %}
                            </b>
                        </span>
                    </div>
                </div>

            </div>

            <div class="reservation__content__form__division"></div>

            <div class="reservation__content__form__group">
                <h2>
                    {% trans %}
                        field.personal_data
                    {% endtrans %}
                </h2>

                <div class="reservation__content__form__group__single time">

                    <div class="form__item">
                        {{ form_row(form.clientName) }}
                    </div>

                    <div class="form__item">

                        {{ form_row(form.clientEmail) }}
                    </div>


                    <div class="form__item">
                        <div class=form-group">
                            <label for="{{ form.telephone.vars.id }}" class="control-label required">{% trans %}field.telephone{% endtrans %}</label>
                            <input id="{{ form.telephone.vars.id }}" class="form-control" type="text">
                        </div>
{#                        {{ form_row(form.telephone) }}#}
                    </div>
                </div>

                <div class="form__item">
                    {{ form_row(form.clientMessage, {'attr':{'cols':30, 'rows':5}}) }}
                </div>
            </div>


            {{ form_row(form.bookingLang, {value: app.request.locale}) }}
            {{ form_widget(form._token) }}
            {{ form_row(form.campaign, {value: 'vinales-web-form'}) }}
            <input class="btn btn--primary-gradient" type="submit" value="{% trans %}button.send{% endtrans %}">
        {{ form_end(form, {'render_rest': false}) }}
    </div>
</section>

{% endblock body %}
