{% extends 'frontend/base.html.twig' %}

{% block javascripts_defer %}
    <script src="{{ asset('scripts/app.js') }}" defer></script>
{% endblock %}

{% block title %}{% trans %}Your booking have been saved{% endtrans %}{% endblock %}



{% block trackingcodes %}
    <!-- Event snippet for Fill the registration form conversion page -->
    <script>
        gtag('event', 'conversion', {
            'send_to': 'AW-760508485/MTCFCLHt_JcBEMXg0eoC',
            'transaction_id': ''
        });
    </script>

{% endblock %}



{% block body %}
    <main class="main">
        <section class="section section--no-margin main__image">
            <picture>
                <source media="(min-width: 1200px)"
                    sizes="100vw"
                    srcset="
                        {{ asset('img/vinales-aereal-view-from-los-jasmines.jpg') | imagine_filter('min_width_1920') }} 1920w,
                        {{ asset('img/vinales-aereal-view-from-los-jasmines.jpg') | imagine_filter('min_width_1200') }} 1200w,
                        {{ asset('img/vinales-aereal-view-from-los-jasmines.jpg') | imagine_filter('min_width_1000') }} 1000w"
                    >
                <!-- img tag for browsers that do not support picture element -->
                <img sizes="100vw"
                    srcset="
                        {{ asset('img/vinales-aereal-view-from-los-jasmines-portraid.jpg') | imagine_filter('min_width_900') }} 900w,
                        {{ asset('img/vinales-aereal-view-from-los-jasmines-portraid.jpg') | imagine_filter('min_width_800') }} 800w"
                     alt="classic-car-taxi-in-cuba-in-vinales">
            </picture>
        </section>

        <section class="section reservation_details">
            <div class="title title--center">
                <h1>
                    {% trans %}
                        title.reservation_processed
                    {% endtrans %}
                </h1>
                <h3>
                    {% trans %}
                        subtitle.thank
                    {% endtrans %}
                </h3>
            </div>
            <hr>
            <div class="reservation_details__body">
                <ul>
                    <li>

                        {% trans %}
                            text.reservation_made
                        {% endtrans %}
                        <b>{{ booking.clientName }}</b>.
                    </li>

                    <li>
                        {% trans %}
                            text.reservation_pickup_time
                        {% endtrans %}
                        {% if booking.pickupPlace == 'place' %}
                            the <b>house / hotel</b> at
                        {% elseif booking.pickupPlace == 'airport' %}
                            the <b>airport</b> looking for the flight with number
                        {% else %}
                            the <b>cruise</b> named
                        {% endif %}
                        <b>
                            {{ booking.pickupDetails }}
                        </b>

                        on <b>{{ booking.pickupDate | date('l')  }}</b>,
                        <b> {{ booking.pickupDate | date('F d, Y')  }}</b>
                        at
                        <b>{{ booking.pickupTime | date('H:i') }}</b>.
                    </li>

                    <li>

                        {% trans %}
                            text.amount_passenger
                        {% endtrans %}
                        <b>{{ booking.peopleCount }}</b>.
                    </li>

                    <li>
                        {% if booking.price is null %}
                            {% trans %}
                                text.reservation_quota
                            {% endtrans %}
                        {% else %}
                            {% trans %}
                                text.total_cost
                            {% endtrans %}
                            <b>{{ booking.price }}.00 USD</b>.
                            <br>
                            {% trans %}
                                text.pay_driver
                            {% endtrans %}
                        {% endif %}
                    </li>
                </ul>

                <p>
                    {% trans %}
                        text.confirmation_email
                    {% endtrans %}
                </p>
            </div>
        </section>
    </main>

{% endblock %}
