{% extends 'frontend/base.html.twig' %}


{% block javascripts_defer %}
    <script src="{{ asset('scripts/app.js') }}" defer></script>
    <script src="{{ asset('scripts/Index.js') }}" defer></script>

    <!-- Global site tag (gtag.js) - Google Ads: 760508485 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-760508485"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-760508485');
    </script>

{% endblock %}

{% block title %}{% trans %}Index.title{% endtrans %}{% endblock %}

{% block body %}
   
    <main>

        {{ include('frontend/components/index/_intro.html.twig') }}

        {{ include('frontend/components/index/_activity.html.twig') }}

        {{ include('frontend/components/index/_why_with_us.html.twig') }}

        {{ include('frontend/components/index/_more_places.html.twig') }}

        {{ include('frontend/components/index/_contact_faq.html.twig') }}
    </main>


{% endblock %}
