{% extends 'frontend/base.html.twig' %}

{% block javascripts_defer %}
    <script src="{{ asset('scripts/app.js') }}" defer></script>
    <script src="{{ asset('scripts/Index.js') }}" defer></script>

    <!-- Global site tag (gtag.js) - Google Ads: 760508485 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-760508485"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-760508485');
    </script>

    <script src="https://www.google.com/recaptcha/api.js?hl={{ app.request.locale }}" async defer></script>

{% endblock %}

{% block title %}{% trans %}Index.title{% endtrans %}{% endblock %}

{% block body %}
   
    <main>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" style="position: absolute;top: 4.5em;right: 2em;background: #4cccfb;z-index: 1;padding: 2em;font-size: 1.1em;">
                {{ message }}
            </div>
        {% endfor %}

        {{ include('frontend/components/index/_intro.html.twig') }}

        {{ include('frontend/components/index/_activity.html.twig') }}

        {{ include('frontend/components/index/_why_with_us.html.twig') }}

        {{ include('frontend/components/index/_more_places.html.twig') }}

        {{ include('frontend/components/index/_contact_faq.html.twig') }}
    </main>


{% endblock %}

{% block javascripts %}
    <script src="https://cubyke.trekksoft.com/en_GB/api/public"></script>
    <script>
        (function() {
            var button = new TrekkSoft.Embed.Button();
            button
                .setAttrib("target", "fancy")
                .setAttrib("entryPoint", "tour_details")
                .setAttrib("tourId", "283249")
                .setAttrib("fancywidth", "615px")
                .registerOnClick("#trekksoft_9491");
        })();
    </script>
{% endblock %}