{% extends 'frontend/base.html.twig' %}


{% block javascripts_defer %}
    <script src="{{ asset('scripts/app.js') }}" defer></script>
    <script src="{{ asset('scripts/Index.js') }}" defer></script>

    <!-- Global site tag (gtag.js) - Google Ads: 760508485 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-760508485"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-760508485');
    </script>

{% endblock %}

{% block title %}{% trans %}Index.title{% endtrans %}{% endblock %}

{% block body %}
   
    <main class="main">

        <div class="main__image">
            <picture>
                <source media="(min-width: 1200px)"
                        sizes="100vw"
                        srcset="
                            {{ asset('img/our-car-in-mural-prehistoria.jpg') | imagine_filter('min_width_1920') }} 1920w,
                            {{ asset('img/our-car-in-mural-prehistoria.jpg') | imagine_filter('min_width_1200') }} 1200w,
                            {{ asset('img/our-car-in-mural-prehistoria.jpg') | imagine_filter('min_width_1000') }} 1000w
                ">
                <!-- img tag for browsers that do not support picture element -->
                <img sizes="100vw"
                    srcset="
                        {{ asset('img/our-car-in-mural-prehistoria_portraid.jpg') | imagine_filter('min_width_900') }} 900w,
                        {{ asset('img/our-car-in-mural-prehistoria_portraid.jpg') | imagine_filter('min_width_800') }} 800w"
                     alt="
                         {% trans %}
                            image.description.mural_car
                         {% endtrans %}
                         ">
            </picture>
        </div>
        <div class="main__content">

            <div class="main__content__text">

                <div class="main__content__text__title">
                    <h1 class="title title--white title--big">
                        {% trans %}
                            main.text
                        {% endtrans %}
                    </h1>
                </div>

                <div class="main__content__text__subtext">
                    <span>
                        {% trans %}main.subtitle_1{% endtrans %}
                    </span>
                    <span>
                        {% trans %}main.subtitle_2{% endtrans %}
                    </span>
                    <span>
                        {% trans %}main.subtitle_3{% endtrans %}
                    </span>
                </div>

            </div>

            <div class="main__content__button">
                <a class="btn btn--primary-gradient"
                   {#target="_self" href="{{ url }}">#}
                   target="_self" href="{{ path('booking') }}">
                    {% trans %}
                        button.reservation
                    {% endtrans %}
                </a>
            </div>
        </div>
    </main>

    <section id="activities" class="activities section">

        <div class="title title--center">
            <h2>
                {% trans %}
                    section_title.offers
                {% endtrans %}
            </h2>
        </div>

        <div class="activities__item">
            <div class="activities__item__image group1">
                <picture>
                    <source class="lazyload"
                            media="(min-width: 1200px)"
                            sizes="(min-width: 1200px) 50vw"
                            data-srcset="
                    {{ asset('img/gallery/ride-horse-in-vinales.jpg') | imagine_filter('min_width_1200') }} 1200w,
                    {{ asset('img/gallery/ride-horse-in-vinales.jpg') | imagine_filter('min_width_1000') }} 1000w
                    ">

                    <img class="lazyload blur-up"
                         sizes="100vw"
                         data-srcset="
                    {{ asset('img/gallery/ride-horse-in-vinales-portraid.jpg') | imagine_filter('min_width_800') }} 800w,
                    {{ asset('img/gallery/ride-horse-in-vinales-portraid.jpg') | imagine_filter('min_width_600') }} 600w"
                         src="{{ asset('img/gallery/ride-horse-in-vinales-portraid.jpg') | imagine_filter('small_thumbnail') }}"
                         alt="
                             {% trans %}
                                image.description.horse
                             {% endtrans %}
                             ">
                </picture>
                <noscript>
                    <img
                            src="{{ asset('img/gallery/ride-horse-in-vinales-portraid.jpg')}}"
                            alt="
                                     {% trans %}
                                        image.description.horse
                                     {% endtrans %}
                                     ">
                </noscript>

                <picture>
                    <source class="lazyload"
                            media="(min-width: 1200px)"
                            sizes="(min-width: 1200px) 50vw"
                            data-srcset="
                        {{ asset('img/gallery/vinales-view.jpg') | imagine_filter('min_width_1200') }} 1200w,
                        {{ asset('img/gallery/vinales-view.jpg') | imagine_filter('min_width_1000') }} 1000w
                    ">

                    <img class="lazyload blur-up"
                         sizes="100vw"
                         data-srcset="
                        {{ asset('img/gallery/vinales-view-portraid.jpg') | imagine_filter('min_width_800') }} 800w,
                        {{ asset('img/gallery/vinales-view-portraid.jpg') | imagine_filter('min_width_600') }} 600w"
                         src="{{ asset('img/gallery/vinales-view-portraid.jpg') | imagine_filter('small_thumbnail') }}"
                         alt="
                             {% trans %}
                                image.description.view
                             {% endtrans %}
                             ">

                </picture>
                <noscript>
                    <img
                            src="{{ asset('img/gallery/vinales-view-portraid.jpg') }}"
                            alt="
                                    {% trans %}
                                        image.description.view
                                     {% endtrans %}
                                     ">
                </noscript>
            </div>
            <div class="activities__item__text">
                <p>
                    {% trans %}
                        text.activities_1.part_1
                    {% endtrans %}
                </p>

                <br>

                <p>
                    {% trans %}
                        text.activities_1.part_2
                    {% endtrans %}
                </p>

                <br>

                <p>
                    {% trans %}
                        text.activities_1.part_3
                    {% endtrans %}
                </p>
            </div>
        </div>

        <div class="activities__item activities__item--inverse group2">
            <div class="activities__item__image">
                <picture>
                    <source class="lazyload"
                            media="(min-width: 1200px)"
                            sizes="(min-width: 1200px) 50vw"
                            data-srcset="
                        {{ asset('img/gallery/mural-de-la-preistoria-vinales.jpg') | imagine_filter('min_width_1200') }} 1200w,
                        {{ asset('img/gallery/mural-de-la-preistoria-vinales.jpg') | imagine_filter('min_width_1000') }} 1000w
                    ">

                    <img class="lazyload blur-up"
                         sizes="100vw"
                         data-srcset="
                        {{ asset('img/gallery/mural-de-la-preistoria-vinales-portraid.jpg') | imagine_filter('min_width_800') }} 800w,
                        {{ asset('img/gallery/mural-de-la-preistoria-vinales-portraid.jpg') | imagine_filter('min_width_600') }} 600w"
                         src="{{ asset('img/gallery/mural-de-la-preistoria-vinales-portraid.jpg') | imagine_filter('small_thumbnail') }}"
                         alt="
                            {% trans %}
                                image.description.mural
                             {% endtrans %}
                             ">
                </picture>
                <noscript>
                    <img
                            src="{{ asset('img/gallery/mural-de-la-preistoria-vinales-portraid.jpg') }}"
                            alt="
                                    {% trans %}
                                        image.description.mural
                                     {% endtrans %}
                                     ">
                </noscript>

                <picture>
                    <source class="lazyload"
                            media="(min-width: 1200px)"
                            sizes="(min-width: 1200px) 50vw"
                            data-srcset="
                        {{ asset('img/gallery/indio-cave-vinales.jpg') | imagine_filter('min_width_1200') }} 1200w,
                        {{ asset('img/gallery/indio-cave-vinales.jpg') | imagine_filter('min_width_1000') }} 1000w
                    ">

                    <img class="lazyload blur-up"
                         sizes="100vw"
                         data-srcset="
                        {{ asset('img/gallery/indio-cave-vinales-portraid.jpg') | imagine_filter('min_width_800') }} 800w,
                        {{ asset('img/gallery/indio-cave-vinales-portraid.jpg') | imagine_filter('min_width_600') }} 600w"
                         src="{{ asset('img/gallery/indio-cave-vinales-portraid.jpg') | imagine_filter('small_thumbnail') }}"
                         alt="
                            {% trans %}
                                image.description.indian_cave
                             {% endtrans %}
                             ">
                </picture>
                <noscript>
                    <img
                            src="{{ asset('img/gallery/indio-cave-vinales-portraid.jpg') }}"
                            alt="
                                    {% trans %}
                                        image.description.indian_cave
                                     {% endtrans %}
                                     ">
                </noscript>
            </div>
            <div class="activities__item__text">

                <p>
                    {% trans %}
                        text.activities_2.part_1
                    {% endtrans %}
                </p>

                <br>

                <p>
                    {% trans %}
                        text.activities_2.part_2
                    {% endtrans %}
                </p>

                <br>

                <p>
                    {% trans %}
                        text.activities_2.part_3
                    {% endtrans %}
                </p>

                <br>

                <p>
                    {% trans %}
                        text.activities_2.part_4
                    {% endtrans %}
                </p>

            </div>
        </div>

        <div class="activities__item">
            <div class="activities__item__image group3">
                <picture>
                    <source class="lazyload"
                            media="(min-width: 1200px)"
                            sizes="(min-width: 1200px) 50vw"
                            data-srcset="
                        {{ asset('img/gallery/restaurant-cuban-food-vinales.jpg') | imagine_filter('min_width_1200') }} 1200w,
                        {{ asset('img/gallery/restaurant-cuban-food-vinales.jpg') | imagine_filter('min_width_1000') }} 1000w
                    ">

                    <img class="lazyload blur-up"
                         sizes="100vw"
                         data-srcset="
                        {{ asset('img/gallery/restaurant-cuban-food-vinales-portraid.jpg') | imagine_filter('min_width_800') }} 800w,
                        {{ asset('img/gallery/restaurant-cuban-food-vinales-portraid.jpg') | imagine_filter('min_width_600') }} 600w"
                         src="{{ asset('img/gallery/restaurant-cuban-food-vinales-portraid.jpg') | imagine_filter('small_thumbnail') }}"
                         alt="
                            {% trans %}
                                image.description.restaurant
                             {% endtrans %}
                             ">
                </picture>
                <noscript>
                    <img
                            src="{{ asset('img/gallery/restaurant-cuban-food-vinales-portraid.jpg') }}"
                            alt="
                                    {% trans %}
                                    image.description.restaurant
                                     {% endtrans %}
                                     ">
                </noscript>

                <picture>
                    <source class="lazyload"
                            media="(min-width: 1200px)"
                            sizes="(min-width: 1200px) 50vw"
                            data-srcset="
                        {{ asset('img/gallery/foto-tabaco-vinales.jpg') | imagine_filter('min_width_1200') }} 1200w,
                        {{ asset('img/gallery/foto-tabaco-vinales.jpg') | imagine_filter('min_width_1000') }} 1000w
                    ">

                    <img class="lazyload blur-up"
                         sizes="100vw"
                         data-srcset="
                        {{ asset('img/gallery/foto-tabaco-vinales-portraid.jpg') | imagine_filter('min_width_800') }} 800w,
                        {{ asset('img/gallery/foto-tabaco-vinales-portraid.jpg') | imagine_filter('min_width_600') }} 600w"
                         src="{{ asset('img/gallery/foto-tabaco-vinales-portraid.jpg') | imagine_filter('small_thumbnail') }}"
                         alt="
                            {% trans %}
                                image.description.tabacco
                             {% endtrans %}
                             ">
                </picture>
                <noscript>
                    <img
                            src="{{ asset('img/gallery/foto-tabaco-vinales-portraid.jpg') }}"
                            alt="
                                {% trans %}
                                    image.description.tabacco
                                 {% endtrans %}
                                 ">
                </noscript>
            </div>
            <div class="activities__item__text">
                <p>
                    {% trans %}
                        text.activities_3.part_1
                    {% endtrans %}
                </p>

                <br>

                <p>
                    {% trans %}
                        text.activities_3.part_2
                    {% endtrans %}
                </p>

                <br>

                <p>
                    {% trans %}
                        text.activities_3.part_3
                    {% endtrans %}
                </p>
            </div>
        </div>

        <div class="activities__button">
            <a class="btn btn--primary-gradient"
                    {#target="_self" href="{{ url }}">#}
               target="_self" href="{{ path('booking') }}">
                {% trans %}button.reservation{% endtrans %}
            </a>
        </div>
    </section>

    <section id="why_with_us" class="why_with_us section">

        <div class="section__description">
            <div class="title title--center">
                <h2>
                    {% trans %}
                    section_title.why_with_us
                    {% endtrans %}
                </h2>
            </div>
            <div class="section__description__text">
                <p>
                    {% trans %}
                        section_title.why_with_us.subtitle
                    {% endtrans %}
                </p>
            </div>
        </div>

        <div class="why_with_us__cards">

            <div class="why_with_us__cards__item">
                <div class="why_with_us__cards__item__text">
                    <p>
                        {% trans %}
                            text.reason_1_part_1
                        {% endtrans %}

                            <a target="_blank" href="https://www.tripadvisor.com/Attraction_Review-g147271-d13554747-Reviews-Taxi_Drivers_Cuba-Havana_Ciudad_de_la_Habana_Province_Cuba.html">
                                <b>TRIPADVISOR</b>
                            </a>

                        {% trans %}
                            text.reason_1_part_2
                        {% endtrans %}
                    </p>
                </div>
            </div>

            <div class="why_with_us__cards__item">
                <div class="why_with_us__cards__item__text">
                    <p>
                        {% trans %}
                            text.reason_2
                        {% endtrans %}

                    </p>
                </div>
            </div>

            <div class="why_with_us__cards__item">
                <div class="why_with_us__cards__item__text">
                    <p>
                        {% trans %}
                            text.reason_3
                        {% endtrans %}
                    </p>
                </div>
            </div>

            <div class="why_with_us__cards__item">
                <div class="why_with_us__cards__item__text">
                    <p>
                        {% trans %}
                            text.reason_4
                        {% endtrans %}
                    </p>
                </div>
            </div>

        </div>
    </section>

    <section id="more_places"
             class="more_places parallax lazyload section section--no-margin"
             data-bg="{{ asset('img/more-destinations.jpg') }}">

        <div class="more_places__content">
            <div class="more_places__content__title">
                <h2 class="title title--white title--big title--center">
                    {% trans %}
                        section_title.other_options
                    {% endtrans %}
                </h2>
            </div>
            <div class="more_places__content__places">
                <ul>
                    <li><a target="_blank"  href="https://www.taxidriverscuba.com/en/airport/1/transfer-from-the-airports-of-cuba-to-your-destination">
                            {% trans %}
                                destination.airport
                            {% endtrans %}
                        </a></li>
                    <li><a target="_blank" href="https://www.taxidriverscuba.com/en/experience/7/attractive-day-excursion-from-havana-to-varadero">Varadero</a></li>
                    <li><a target="_blank" href="https://www.taxidriverscuba.com/en/booking/5/habana-to-cayo-santa-maria">Cayo Santa Maria</a></li>
                    <li><a target="_blank" href="https://www.taxidriverscuba.com/en/booking/6/habana-to-cayo-coco">Cayo Coco</a></li>
                    <li><a target="_blank" href="https://www.taxidriverscuba.com/en/booking/11/habana-to-cienfuegos">Cienfuegos</a></li>
                    <li><a target="_blank" href="https://www.taxidriverscuba.com/en/booking/12/habana-to-trinidad">Trinidad</a></li>
                    <li><a target="_blank" href="https://www.taxidriverscuba.com/en/booking/7/habana-to-vinales">Vinales (transfer)</a></li>
                </ul>
            </div>
            <div class="more_places__content__button">
                <a target="_blank" class="btn btn--primary-gradient"
                   href="https://www.taxidriverscuba.com">
                    {% trans %}
                        button.other_places
                    {% endtrans %}
                </a>
            </div>
        </div>

    </section>

    <section class="contact_faq">

            <div class="title title--center">
                <h2>
                    {% trans %}
                        section_title.contact
                    {% endtrans %}
                </h2>
            </div>

            <div class="contact_faq__content">

                <div class="contact_faq__content__faq">
                    <h4>
                        {% trans %}
                            subtitle.frequently_askly_questions
                        {% endtrans %}
                    </h4>
                    <ul>
                        <li>
                            {% trans %}
                                text.question_1
                            {% endtrans %}

                            <p>
                                {% trans %}
                                    text.answer_1
                                {% endtrans %}
                                <a href="{{ path('booking') }}">
                                    {% trans %}
                                        button.reservation_form
                                    {% endtrans %}
                                </a>.
                            </p>
                        </li>
                        <li>
                            {% trans %}
                                text.question_2
                            {% endtrans %}
                            <p>
                                {% trans %}
                                    text.answer_2
                                {% endtrans %}
                            </p>
                        </li>
                        <li>
                            {% trans %}
                                text.question_3
                            {% endtrans %}

                            <p>
                                {% trans %}
                                    text.answer_3
                                {% endtrans %}
                            </p>
                        </li>
                        <li>
                            {% trans %}
                                text.question_4
                            {% endtrans %}
                            <p>
                                {% trans %}
                                    text.answer_4
                                {% endtrans %}
                                <a target="_self" href="{{ path('booking') }}">
                                    {% trans %}
                                        button.reservation_form
                                    {% endtrans %}
                                </a>.
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="contact_faq__content__contact">
                    <h4>
                        {% trans %}
                            subtitle.send_message
                        {% endtrans %}
                    </h4>
                    {{ form(form) }}
                </div>
            </div>
        </section>
{% endblock %}
